.title {
    min-font-size: 15px;
    font-size: 5vw;
    margin-left: 10px;
}

textarea {
    width: 95vw;
    height: 300px;
    margin: 10px;
}

.buttons button {
    margin: 0 0 5px 10px;
    background-color: #ffa07a;
    border: 0;
    padding: 10px;
    font-size: 20px;
}